<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 写Sql语句  命名空间  -->

<mapper namespace="com.itheima.mybatis.mapper.UserMapper">
    <sql id="selectAllFromUse">
        select *
        from user
    </sql>


    <!-- 通过ID查询一个用户 -->
    <select id="findUserById" parameterType="Integer" resultType="User">
        <include refid="selectAllFromUse"/>
        <where>
            id = #{v}
        </where>

    </select>


    <!-- //根据用户名称模糊查询用户列表
	#{}    select * from user where id = ？    占位符  ? ==  '五'
	${}    select * from user where username like '%五%'  字符串拼接

	 -->
    <select id="findUserByUsername" parameterType="String" resultType="User">
        <include refid="selectAllFromUse"/>
        <where>

            username like "%"#{haha}"%"
        </where>

    </select>

    <!-- 添加用户 -->
    <insert id="insertUser" parameterType="User">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into user (username,birthday,address,sex)
        values (#{username},#{birthday},#{address},#{sex})
    </insert>

    <!-- 更新 -->
    <update id="updateUserById" parameterType="User">
        update user
        set username = #{username},sex = #{sex},birthday = #{birthday},address = #{address}
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteUserById" parameterType="Integer">
        delete from user
        where id = #{vvvvv}
    </delete>


    <!-- 根据用户名模糊查询 -->
    <select id="findUserByQueryVo" parameterType="QueryVo" resultType="User">

        <include refid="selectAllFromUse"/>
        <where>
            username like "%"#{user.username}"%"
        </where>

    </select>


    <!-- 根据性别和名字查询用户  where 可以去掉第一个前and  -->
    <select id="findUserBySexAndUserName" parameterType="User" resultType="User">
        <include refid="selectAllFromUse"/>
        <where>
            <if test="sex != null and sex != ''">
                sex =#{sex}
            </if>
            <if test="username != null and username != ''">
                and username =#{username}
            </if>
        </where>
    </select>

    <!-- 多个ID (1,2,3)  -->
    <select id="findUserByIds" parameterType="QueryVo" resultType="User">
        <include refid="selectAllFromUse"/>
        <where>
            id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </select>


    <!-- 多个ID (1,2,3)  -->
    <select id="findUserByIdsUseList" parameterType="list" resultType="User">
        <include refid="selectAllFromUse"/>
        <where>
            id in
            <foreach collection="list" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </select>


    <!-- 多个ID (1,2,3)  -->
    <select id="findUserByIdsUseArray" parameterType="list" resultType="User">
        <include refid="selectAllFromUse"/>
        <where>
            id in
            <foreach collection="array" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>